<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>归档</title>
    <link rel="stylesheet" type="text/css" href="../static/js/Semantic-UI/semantic.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/me.css"/>
</head>
<body>

<!-- 导航 -->
<nav th:replace="_fragments :: menu(1)"></nav>

<!-- 中间内容 -->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!-- header -->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui header teal">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 1214 </h2> 篇博客
                </div>
            </div>
        </div>

        <h2 class="ui center aligned header">2017</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
						<span>
							<i class="teal circle mini icon"></i>&nbsp;&nbsp;关于练习两年半
							<div class="ui teal basic left pointing label m-padded-mini">9月03</div>
						</span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
        </div>

        <h2 class="ui center aligned header">2016</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
						<span>
							<i class="teal circle mini icon"></i>&nbsp;&nbsp;关于练习两年半
							<div class="ui teal basic left pointing label m-padded-mini">9月03</div>
						</span>
                <div class="ui orange basic left pointing label m-padded-mini">原创</div>
            </a>
        </div>
    </div>
</div>


<!-- 底部footer -->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>

<script src="../static/js/Jquery/jquery.min.js" type="text/javascript" charset="utf-8"
        th:src="@{/js/Jquery/jquery.min.js}"></script>
<script src="../static/js/Semantic-UI/semantic.min.js" type="text/javascript" charset="utf-8"
        th:src="@{/js/Semantic-UI/semantic.min.js}"></script>
<script src="../static/lib/prism/prism.js" type="text/javascript" charset="utf-8"
        th:src="@{/lib/prism/prism.js}"></script>
<script src="../static/lib/tocbot/tocbot.min.js" type="text/javascript" charset="utf-8"
        th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"
        th:src="@{//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js}"></script>
<script src="../static/lib/qrcode/qrcode.min.js" type="text/javascript" charset="utf-8"
        th:src="@{/lib/qrcode/qrcode.min.js}"></script>
<script src="../static/lib/waypoint/jquery.waypoints.min.js" type="text/javascript" charset="utf-8"
        th:src="@{/lib/waypoint/jquery.waypoints.min.js}"></script>

<script type="text/javascript">
    $(".menu.toggle").click(function () {
        $(".m-item ").toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>
